<div class="borde">

  <form method="post" action="/new_word" id="enviar">
    <input type="text" name="user_word" placeholder="Ingresa la palabra">
    <br><br>
 <!--    <button>Enviar</button><br><br>-->
    <div class="boton">Enviar</div>
  </form>
 
</div>